@media only screen and (max-width: 1023px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        background-color: hsl(0, 0%, 98%) ;
        height: auto;
    }

    .reliable{
        font-weight: 200;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(229, 6%, 66%);
        padding-top: 50px;
    }
    
    .powered{
        font-weight: 600;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(234, 12%, 34%);
        padding-top: 10px;
    }
    
    .our{
        font-weight: 200;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(229, 6%, 66%);
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .card1{
        border-top-color: hsl(180, 62%, 55%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card2{
        border-top-color: hsl(0, 78%, 62%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card3{
        border-top-color: hsl(34, 97%, 64%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card4{
        border-top-color: hsl(212, 86%, 64%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    ul{
        justify-content: center;
    }
    
    li{
        list-style-type: none;
        padding-bottom: 20px;
    }
    
    h3{
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: hsl(234, 12%, 34%);
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    p{
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        color: hsl(229, 6%, 66%);
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    img{
        float: right;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
}

@media only screen and (min-width: 1024px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: hsl(0, 0%, 98%) ;
        height: auto;
    }
     
    .reliable{
        font-weight: 200;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(229, 6%, 66%);
        padding-top: 50px;
    }
    
    .powered{
        font-weight: 600;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(234, 12%, 34%);
        padding-top: 10px;
    }
    
    .our{
        font-weight: 200;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: hsl(229, 6%, 66%);
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }
    
    .card1{
        border-top-color: hsl(180, 62%, 55%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card2{
        border-top-color: hsl(0, 78%, 62%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card3{
        border-top-color: hsl(34, 97%, 64%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card4{
        border-top-color: hsl(212, 86%, 64%);
        border-top-width: 5px;
        border-top-style: solid;
        background-color: white;
        padding: 20px;
        width: 350px;
        height: 220px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    ul{
        display: flex;
        justify-content: center;
    }
    
    li{
        list-style-type: none;
        padding-left: 20px;
    }
    
    h3{
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: hsl(234, 12%, 34%);
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    p{
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        color: hsl(229, 6%, 66%);
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    img{
        float: right;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
  }
